<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Layer payment Ruby On Rails Kit</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="<%= $remote_script %>"></script>
	
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>
  <style type="text/css">
    .main {
      margin-left: 30px;
      font-family: Verdana, Geneva, sans-serif, serif;
    }
    .text {
      float: left;
      width: 180px;
    }
    .dv {
      margin-bottom: 5px;
    }
  </style>
  <body>
    <div class="main">
      <div>
        <img height="40" src="<%=asset_path "logo.png"%>" alt="Layer Payment" />
      </div>
	  <br />
	  <br />
      <div class="dv">
       <label>Transaction ID: <%= $sampledata['mtx'] %></label>
      </div>
      <div class="dv">
        <label>Full Name: <%= $sampledata['name'] %></label>
      </div>
      <div class="dv">
        <label>E-mail: <%= $sampledata['email_id'] %></label>
      </div>
      <div class="dv">
        <label>Mobile Number: <%= $sampledata['contact_number'] %></label>
      </div>
      <div class="dv">
        <label>Amount (<%= $sampledata['currency'] %>): <%= $sampledata['amount'] %></label>
      </div>
      <div class="dv">
		<input id="submit" name="submit" value="Pay" type="button" onclick="triggerLayer();">
	  </div>	
	  <div id="layerloader" class="dv"><%= $error %></div>
    </div>
	<form action="test/callback" method="post" style="display: none" name="layer_payment_int_form">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<input type="hidden" name="layer_pay_token_id" value="<%= @token_id %>">
		<input type="hidden" name="tranid" value="<%= @postvals["mtx"] %>">
		<input type="hidden" name="layer_order_amount" value="<%= @postvals["amount"] %>">
		<input type="hidden" id="layer_payment_id" name="layer_payment_id" value="">
		<input type="hidden" id="fallback_url" name="fallback_url" value="">
		<input type="hidden" name="hash" value="<%= @hash %>">
	</form>
	<script type="text/javascript">
		var layer_params = {payment_token_id:'<%= @token_id %>',accesskey:'<%= $accesskey %>'};
		function triggerLayer() {

			Layer.checkout(
			{
				token: layer_params.payment_token_id,
				accesskey: layer_params.accesskey,			
			},
			function (response) {
				console.log(response)
				if(response !== null || response.length > 0 ){
					if(response.payment_id !== undefined){
						document.getElementById('layer_payment_id').value = response.payment_id;
					}
				}
				document.layer_payment_int_form.submit();
			},
			function (err) {
				alert(err.message);
			});
		}
	</script>

         
  </body>
</html>